@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');
@import "tailwindcss";

* {
    font-family: "Google Sans Flex", sans-serif;
}

@theme{
  --color-primary: #5044E5;
}

.reset-tw, .reset-tw *{
  all: revert !important;
}

.cl-drawerRoot{
  z-index: 10;
}